body{
    font-family: Arial, sans-serif;
}
.one-nav{
    height: 150px;
    display: flex;
}
.heder{
    background-color:white;
    width: 300px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-bar{
    height: 150px;
    width: 80%;
    background-color:rgb(217, 228, 238);
    text-align: center;
}
.navbar{
    height: 60px;
    background-color: rgb(249, 128, 42);
    width: 700px;
    margin-left: 200px;
    border-radius: 6px;
}
 a{
    margin-left: 30px;
}
 nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

 nav ul li {
    margin: 20px 15px;
}

 nav ul li a {
    color: white;
    text-decoration: none;
}
.sec-nav{
    height: 40px;
    background-color: rgb(133, 171, 241);
    display: flex;
    align-items: center;
    font-size: large;
}
.sec-nav nav ul li {
    margin: 0;
}
.addmsn{
    background-color: antiquewhite;
    height: 150px;
    width: 250px;
}