body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

#img{
    height: 500px;
    background-color: aliceblue;
    background-image: url("soniclg.jpeg");
    background-size: cover;
}
section {
    padding: 20px;
    margin: 20px 0;
    background-color:aquamarine;
    border-radius: 5px;
}

.department-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin: 10px 0 5px;
}

#contact-form input, #contact-form textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #34495e;
}